/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #0071ce;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    background-color: #00aaff;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

label, select, input, button {
    display: block;
    margin: 10px auto;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
}

input[type="text"], select {
    width: 60%;
    max-width: 400px;
}

button {
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0055aa;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #0055aa;
}

footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
}
